.hero-img {
  width: 100%;
  background: black;
  height: 60vh;
  position: relative;
}

.hero-img {
  content: "";
  background: url("https://unsplash.com/photos/turn-on-flat-screen-computer-monitor-IKUYGCFmfw4");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  opacity: 0.5;
}

.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img h1 {
  font-size: 2.4rem;
}

.hero-img p {
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .hero-img h1 {
    font-size: 2rem;
  }
}
